* {
  margin: 0;
  padding: 0;
}

.title {
  width: 800px;
  height: 70px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: rgb(249, 204, 226);
}

.btns {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.btns span {
  display: block;
  width: 300px;
  height: 200px;
  line-height: 200px;
  background: rgb(249, 204, 226);
  border: 1px solid #eee;
  border-radius: 7px;
  margin-top: 100px;
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-family: "微软雅黑";
  cursor: pointer;
}