* {
    margin: 0;
    padding: 0;
}

/* 使子div的height:100%属性生效 */
html,
body {
    margin: 0;
    height: 100%;
}

.main{
    height: 740px;
}

h1 {
    margin: 50px 0px;
    font-size: 36px;
    color: white;
}

/* 修复下移20pxBUG */
.msg h2{
    margin-top: 0px;
}

h2 {
    margin: 20px 0px;
    font-size: 24px;
}

.msg h3,
.add h3 {
    display: inline;
    font-size: 16px;
}

.msg span,
.add span {
    margin-right: 50px;
}

.pow h3 {
    font-size: 16px;
}

.pow .pow1,
.pow .pow2,
.stu .stu1,
.stu .stu2,
.wor .wor1,
.wor .wor2 {
    margin: 10px 0px;
}

.left{
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    background-color: #72a5f4
}

.right{
    float: left;
    padding: 20px 20px 0px 20px;
}

.main .left #btnHi{
    width: 100px;
    height: 50px;
    font-size: 24px;
    border: 0px;
    border-radius: 10px;
    color: #72a5f4;
    margin-bottom: 50px;
}

.main .left p{
    font-size: 18px;
    color: white;
    display: none;
}