
table {
    width: 100%;
    /* 表格设置合并边框 */
    border-collapse:collapse;
}

h1{
    margin-left: 50px;
}

h3{
    display: inline;
}

span{
    margin-right: 50px;
}

td,th{
    border: 1px solid #ccc;
}

tr:nth-child(1) {
    background-color: #858585;
    color: white;
    font-size: 14px;
}

